.about {
    margin: var(--section-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 100px;
    font-weight: 500;
    color: var(--about-title-color);
    filter: drop-shadow(0px 0px 25px rgb(108, 119, 155));
    transition: all 0.25s ease-in-out;
}
.title:hover {
    letter-spacing: 20px;
}

.outer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.inner_container {
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.paragraphs {
    font-size: 19px;
    font-weight: 300;
    width: min(800px, 50vw);
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
    -webkit-user-drag: none;

    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    transition: all 0.25s ease-in-out;
}

.image:hover {
    filter: drop-shadow(15px 15px 15px rgb(0, 0, 0));
}